management.endpoints.enabled-by-default=true
management.endpoint.info.enabled=true

management.endpoints.web.exposure.include=health,info,mappings

info.app.name=Cloudfoundry Service Broker for Confluent Cloud 
info.app.java.version=11
info.app.type=Spring Boot

kafka.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="<your-api-key>" password="<your-api-secret>";
kafka.bootstrap.servers=<your-boostrap-servers>:9092
